#about {
	margin-top: 30px;
	margin-bottom: 30px;
}
#about .introduction,
#about .introduction p {
	/*white-space: nowrap !important;	*/
	/*white-space: pre-wrap; 
	word-break: pre;
	word-wrap: unset !important;
	overflow-wrap: unset !important;
	-webkit-hyphens: unset !important;
	-moz-hyphens: unset !important;
	-ms-hyphens: unset !important;
	hyphens: unset !important;*/

	letter-spacing: 1px;
	font-family: "Roboto", sans-serif;
	text-align: justify;
	line-height: 27px;

}