
.language-title h4,
.language-title p {
    margin-bottom: 0px;
    text-align: right;
}
.language-title p {
	color: #999;
}
.dots-progress-dot {
	display: inline-block;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #fff;
  border: solid 1px #999;
}
.dots-progress-dot-active {
	background-color: #EBE0DA;
	border: solid 1px #EBE0DA;
}
@media (max-width: 576px) {
  .language-title h4,
  .language-title p {
    text-align: left;
  }
}