#skills h4 {
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 1rem;	
}
#skills .progress {
	height: 2px;
	width: 60%;
	margin: 0 auto;
}
#skills .progress-bar {
	background-color: #A17E85;
}