#skills h4 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	color: #536D66;
}
#skills .progress {
	height: 2px;
	width: 60%;
	margin: 0 auto;
}
#skills .progress-bar {
	background-color: #536D66;
}
#skills .icon-greyscale img {
	max-width: 70px;
}