#skills h4 {
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: bold;
	color: #A17E85;
}
#skills .progress {
	height: 2px;
	width: 60%;
	margin: 0 auto;
}
#skills .progress-bar {
	background-color: #A17E85;
}